/* frontend/style.css */
html,
body {
  background-color: rgb(90, 140, 189) !important;
  height: 100%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#floatingPassword,
#about {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.reginput {
  border-radius: 0 0 0 0 !important;
}
.profileImgContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
  background-color: white;
}
.profileImg {
  margin-top: 30px;
  border-radius: 50%;
  width: 100px;
  border: 5px solid white;
  z-index: 1;
  position: absolute;
}
.profileImgBg {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 60px;
  background-color: rgba(215, 57, 0, 0.874);
}
.break {
  height: 2px;
  background-color: darkgrey;
  width: 100%;
}
.followerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followerDiv span {
  font-size: large;
  font-weight: 500;
}
.redText {
  color: red;
  margin-bottom: 15px;
}
.followerFollowing {
  color: grey;
}
.firstLast {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600;
}
.aboutme {
  font-size: medium;
  font-weight: 600;
  color: grey;
}
