/* frontend/style.css */
html,
body {
  background-color: rgb(238 238 238) !important;
  align-items: center;
  height: 100%;
  overflow: auto;
}
main {
  display: flex;
  justify-content: center;
  height: 100vh;
}
.contentContainer {
  display: flex;
  width: 90%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
}
.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-signin input[type=email] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
#floatingPassword,
#about {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.reginput {
  border-radius: 0 0 0 0 !important;
}
.profileImgContainer {
  width: 250px;
}
.contentContainer .profileImgContainer {
  width: 45%;
}
.profileImgParent {
  background: linear-gradient(to bottom, rgba(215, 57, 0, 0.874) 17%, white 0%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: white;
}
.profileImg {
  margin-top: 30px;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: 5px solid white;
  z-index: 1;
}
.break {
  height: 2px;
  background-color: darkgrey;
  width: 100%;
}
.followerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.followerDiv span {
  font-size: large;
  font-weight: 500;
}
.redText {
  color: red;
  margin-bottom: 15px;
  font-size: large;
  font-weight: 500;
}
.followerFollowing {
  color: grey;
}
.firstLast {
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
  font-weight: 600;
  text-align: center;
}
.aboutme {
  font-size: medium;
  font-weight: 600;
  color: grey;
  text-align: center;
}
.profileContainer {
  display: flex;
}
.formContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  background-color: white;
  height: 105px;
  margin-left: 30px;
  margin-right: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-top: 5px solid rgba(215, 57, 0, 0.874);
}
.privacyButtons {
  display: flex;
  width: 210px;
  justify-content: space-between;
}
.postType {
  height: 40px;
  border: none;
  background-color: rgba(215, 57, 0, 0.874);
  color: white;
  font-weight: 500;
  border-radius: 3px;
}
.smallAvatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  z-index: 1;
}
#rightSide {
  background-color: white;
  width: 45%;
  height: 80vh;
}
#open-chat-button {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  border: transparent;
  margin-left: 10px;
  position: absolute;
  bottom: 4px;
  right: 5px;
  z-index: 999;
  background-color: rgba(215, 57, 0, 0.874);
}
#create-chat-button:hover,
#open-chat-button:hover {
  transform: scale(1.15);
}
#open-chat-button > img {
  height: 40px;
}
.open-chat-container {
  position: absolute;
  bottom: 65px;
  right: 60px;
  display: flex;
  flex-direction: column;
  max-width: 200px;
  background-color: white;
  border-bottom: 3px solid rgba(215, 57, 0, 0.874);
}
.create-chat-form-container {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  border-bottom: 3px solid rgba(215, 57, 0, 0.874);
  z-index: 1;
}
.create-chat-close-container,
.open-chat-close-container {
  background-color: rgba(215, 57, 0, 0.874);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.create-chat-close-button,
.open-chat-close-button,
#create-chat-button {
  width: 40px;
  height: 30px;
  background-color: rgba(215, 57, 0, 0.874);
  border: transparent;
}
.open-chat-close-button > span {
  font-weight: 900;
}
#create-chat-button > img {
  height: 30px;
}
.create-chat-close-container > h1,
.open-chat-close-container > h1 {
  font-size: medium;
  color: white;
  position: relative;
  top: 3px;
  margin-right: 3px;
}
.chatroom-type {
  display: flex;
  justify-content: space-around;
}
.chatrooms {
  height: 200px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chatrooms > button {
  height: 40px;
  border: none;
  width: 100%;
  margin-bottom: 5px;
  background-color: whitesmoke;
  color: black;
  font-weight: 500;
  border-radius: 3px;
}
.chatrooms > button > h2 {
  font-size: large;
  text-align: start;
  margin: 0;
}
.chatrooms > button > p {
  font-size: small;
  text-align: start;
  margin: 0;
  color: #9c9c9c;
}
.create-chat-close-button:hover {
  background-color: rgba(172, 46, 0, 0.874);
  color: white;
}
.create-chat-close-button:active {
  background-color: rgba(123, 33, 0, 0.874);
  color: white;
}
.create-chat-close-button > span {
  font-weight: 900;
}
#chat-name {
  width: 100%;
  font-size: small;
}
#chat-description {
  width: 100%;
  font-size: small;
}
.create-chat-type {
  display: flex;
  justify-content: space-around;
}
.create-chat-followers {
  height: 75px;
  width: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.create-chat-followers > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
#group:after,
#private::after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -4px;
  left: -2px;
  position: relative;
  background-color: #d1d3d1;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
#group:checked:after,
#private:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  position: relative;
  background-color: #ffa500;
  content: "";
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.friend-info {
  accent-color: #ffa500;
}
.create-chat-submit-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3px;
}
.create-chat-submit-button {
  width: max-content;
  background-color: #adb5bd;
  border: transparent;
  border-radius: 15px;
  color: white;
  font-size: medium;
  font-weight: bold;
}
.create-chat-submit-button:hover {
  width: max-content;
  background-color: rgba(215, 57, 0, 0.874);
  border: transparent;
  border-radius: 15px;
  color: white;
  font-size: medium;
  font-weight: bold;
  transform: scaleX(1.1);
}
.create-chat-submit-button:active {
  width: max-content;
  background-color: rgba(114, 31, 1, 0.874);
  border: transparent;
  border-radius: 15px;
  color: white;
  font-size: medium;
  font-weight: bold;
  transform: scaleX(1.1);
}
.create-chat-followers::-webkit-scrollbar {
  width: 8px;
}
.create-chat-followers::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}
.create-chat-followers::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(228, 137, 0);
}
.create-chat-followers::-webkit-scrollbar-thumb:hover {
  background: rgba(228, 137, 0);
}
#public-profiles {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgb(238 238 238);
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 5px solid rgba(215, 57, 0, 0.874);
  font-size: 30px;
  text-align: center;
  cursor: pointer;
  padding: 20px 20px 0 20px;
  box-shadow: rgba(99, 99, 99, 0.264) 0px 7px 29px 0px;
  height: 100%;
}
.grid-link {
  text-decoration: none;
  color: initial;
  margin: 5px;
  transform: scale3d(0.9, 0.9, 1.2);
  transition: transform 0.5s ease-in-out;
}
.grid-link:hover {
  transform: scale3d(1, 1, 1);
  box-shadow: rgba(215, 57, 0, 0.264) 0px 7px 29px 0px;
  transition: transform 0.5s ease-in-out;
}
.grid-item > div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
